.body{
  margin:0;
}

.Japan{
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
  width:100%;
  min-height: 100vh;
  object-fit: cover;
}


.Tokyo {
  width:100%;
}

.Tokyo_east{
  font-size: 25px;
  position: absolute;
  top:45%;
  left:70%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 30px;*/
}

.Tokyo_west{
  font-size: 25px;
  position: absolute;
  top:35%;
  left:25%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 20px;*/
}

.Kanagawa {
  
  width:140%;
}
.Kanagawa_east{
  font-size: 25px;
  position: absolute;
  top:45%;
  left:80%;
  
}

.Kanagawa_west{
  font-size: 25px;
  position: absolute;
  top:45%;
  left:25%;
}

.Saitama {
  
  width:140%;
  position: relative;
}
.Saitama_east{
  font-size: 25px;
  position: absolute;
  top:50%;
  left:85%;
}

.Saitama_west{
  font-size: 25px;
  position: absolute;
  top:50%;
  left:25%;
}

.Chiba{
 
  width:50%;
  position: relative;
}
.Chiba_North{
  font-size: 25px;
  position: absolute;
  top:30%;
  left:25%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 30px;*/
}

.Chiba_South{
  font-size: 25px;
  position: absolute;
  top:65%;
  left:15%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 20px;*/
}
.Gunma {
  
  background: url('img/群馬県.jpeg');
  width:140%;
  position: relative;
}
.Gunma_North{
  font-size: 25px;
  position: absolute;
  top:30%;
  left:60%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 30px;*/
}

.Gunma_South{
  font-size: 25px;
  position: absolute;
  top:65%;
  left:45%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 20px;*/
}
.Tochigi{
  
  background-image: url('img/栃木県.jpeg');
  width:120%;
  position: relative;
}
.Tochigi_North{
  font-size: 25px;
  position: absolute;
  top:25%;
  left:55%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 30px;*/
}

.Tochigi_South{
  font-size: 25px;
  position: absolute;
  top:65%;
  left:40%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 20px;*/
}
.Ibaraki{
  
  background: url('img/茨城県.jpeg');
  width:130%;
  position: relative;
}
.Ibaraki_North{
  font-size: 25px;
  position: absolute;
  top:30%;
  left:70%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 30px;*/
}

.Ibaraki_South{
  font-size: 25px;
  position: absolute;
  top:65%;
  left:45%;
  /*font-size:30px;*/
  /*color: black;*/
  /*padding:30px 20px;*/
}