.body{
margin:0;
background: #c21500;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
        margin: auto;
        width: 75%;
        background-color: rgba(255,255,255,0.3);
        box-shadow: 10px 25px 40px 10px rgba(0, 0, 0, 0.9);
        max-height: 100%;
        margin-bottom: 3rem;
}

h1{
    text-align: center;
}

h2{
    display: flex;
}

.star{
    width: 35%;
}

.name{
    font-size:1rem;
}

.name img{
    width:30%;
    /*padding-top: 0.1%*/
}
.img{
    max-width: 50%;
        width:50%;
        display: flex;
        
}