.body{
    margin:0;
background: #c21500;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    text-align: center;
}

.sytes{
    /*background-color: rgba(255,255,255, 0.5);*/
    width: 50%;
    padding: 1em;
    line-height: 3rem;
}

.img1{
     max-width: 80%;
    width: 30%;
        display: flex;
        
}

main {
        margin: auto;
        width: 75%;
        /*min-width: 1000px;*/
        background-color: rgba(255,255,255,0.3);
        box-shadow: 10px 25px 40px 10px rgba(0, 0, 0, 0.8);
        max-height: 100%;
        margin-bottom: 3rem;
}